extends layout

block content
  .container
    h1 Applicants
    for i in theData
      ul(class="list-unstyled", data-id=""+i._id+"")
        li= i.name
        li= i.bio
        li= i.skills
        li= i.years
        li= i.why
        a.deleteBtn.btn.btn-danger Delete Applicant.